bin
obj
Debug
BVTTools
G11NManager
IGT0803_RDL
IGTRemoteInstaller
IGTVersion
PaCopyScript
QCFileCompareToTFS
ReleaseNotes
TFSBuildPayload
TFSCustomActions
TFSExcelReports
TFSWITemplates
TFSglobalList
TfsBuildUtilities
TFSMergeCandidate
*.cache
*.suo
*.user
*.vspscc
*~
build.log
clean.log
